.text img{

width: 100px;
height: 100px;
padding-left:  400px;



}

.header{


background-color: #1F2937;
display: flex;
height: 150px;



}

.text{

font-size: 48px;
font-weight: 800;
color: #F9FAf8;
display: flex;

margin-left: 100px;





}

.sub-text{

font-size: 18px;
color: #e5e7eb;
background-color: #1F2937;
display: flex;
justify-content: flex-start;
padding-left: 100px;
}

.links{
    
    margin-right: 350px;
    gap:8px;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    margin-left: 500px;
}

.logo{

display: flex;
justify-content: space-between;
font-size: 24px;
color: #F9FAF8;
margin-left: 100px;



}

.container1{

    background-color: #1F2937;



}

.container2{

    background-color: #1F2937;
    display: flex;
    padding-left: 100px;


}

button.sign{
color: white;
background-color: #3882F6;
height: 30px;
width: 70px;

}


.text1{

display: flex;
justify-content: center;
align-items: center;
font-weight: 800;
color: #1F2937;
font-size: 36px;


}

.cards img{

    width: 200px;
    height: 200px;
  padding-top: 50px;
    

}

div.batman{

vertical-align: top;
display: inline-block;
text-align: center;
width: 120px;

}

.batman img {
    width: 100px;
    height: 100px;
    
}

.caption1 {
    display: block;
}

div.deadpool{

    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    
    }
    
    .deadpool img {
        width: 100px;
        height: 100px;
        
    }
    
    .caption2 {
        display: block;
    }

    div.hulk{

        vertical-align: top;
        display: inline-block;
        text-align: center;
        width: 120px;
        
        }
        
        .hulk img {
            width: 100px;
            height: 100px;
            
        }
        
        .caption3 {
            display: block;
        }
  div.hulk{

        vertical-align: top;
        display: inline-block;
        text-align: center;
        width: 120px;
        
        }
        
        .hulk img {
            width: 100px;
            height: 100px;
            
        }
        
        .caption3 {
            display: block;
        }
        div.spiderman{

            vertical-align: top;
            display: inline-block;
            text-align: center;
            width: 120px;
            
            }
            
            .spiderman img {
                width: 100px;
                height: 100px;
                
            }
            
            .caption4 {
                display: block;
            }        
            
.cards {

display: flex;
justify-content: center;
gap: 100px;


}            

.quote{

display: flex;    
flex-direction: column;
justify-content: space-between;

background-color: #e5e7eb;
font-size: 20px;
color: #1F2937;
font-style: italic;


}

.author{

display: flex;
justify-content: flex-end;

}


.box{

background-color: #F9FAF8;



}

.alert,
.alert-sub{

    color: white;
    background-color: #3882F6;
    


}



.alert{

margin-top: 50px;
display: flex;
align-items: center;
justify-content: center;

gap: 50px;

width: 600px;
height: 50px;
margin-left: 500px;

}

.alert-sub{

display: flex;

justify-content: center;
padding-right: 30px;

width: 570px;
height: 50px;
margin-left: 500px;
margin-bottom: 50px;

}

button.sign2{

color: white;
background-color: #3882F6;


}

.footer{

display: flex;
align-items: center;
justify-content: center;
background-color: #1F2937;
color: #F9FAf8;
height: 50px;

}
